{% include './cn/head.html' %} 

<body>
{% load static %}
    {% include './cn/header.html' %}

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>Meet Our Team</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'sda:index' %}">Home</a>
                    </li>
                    <li class="active">About Us</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img class="img-responsive" src="{% static 'sda/img/logo.png' %}">
            </div>
            <div class="col-md-6">
                {% if about %}
                    <h2>Welcome to MMU SDA Church</h2>
                        {% for ab in about %}
                            <p>{{ ab.content }}</p>
                        {% endfor %}
                {% endif %}
            </div>
           
        </div>

        <!-- Team Member Profiles -->

        <div class="row">

            <div class="col-lg-12">
                <h2 class="page-header">Meet Our Team Members</h2>
            </div>
            {% if leader %}
            {% for lead in leader %}
            <div class="col-sm-4">
                <img class="img-responsive img-full-width img-thumbnail" src="{{lead.user_id.profile_picture.url}}">
                <h3>{{lead.user_id}}
                    <small>{{lead.dpt_role | upper}}  :  {{lead.dept_id}}</small>
                </h3>
                <p>Reach to this leader?</p>
                <div class = 'row'>
                    <h5 class = 'col-md-3'>Contact</h5>
                     <a class = 'col-md-5' href = "call:{{lead.user_id.contact}}">{{lead.user_id.contact}}</a>
                </div>
                                     
                     <div class = 'row'>
                        <h5 class = 'col-md-3'>Email: </h5>
                             <a href="mailto:{{lead.user_id.user.email}}">{{lead.user_id.user.email}}</a>
                        
                     </div>
                     
                <p>{{lead.Words_From_The_Leader}}</p>
            </div>
            {% endfor %}
            {% endif %}
  
        </div>

        <!-- Our Customers -->

        {% if family %}
        <div class="row">
          
            <div class="col-lg-12">
                <h2 class="page-header">Family heads</h2>
            </div>

            {% for fam in family %}

            <div class="col-md-2 col-xs-10">
                <img class="img-responsive img-customer img-circle" src="{{fam.family.family_profile.url}}">
                <p>{{fam.family}}</p>
                <p>Reach to the Mom Or Dad?</p>
                    <div class = 'row'>
                        <h5 class = 'col-md-3'>Contact</h5>
                        <a class = 'col-md-5' href = "call:{{fam.user_id.contact}}">{{fam.user_id.contact}}</a>
                    </div>
                                     
                     <div class = 'row'>
                        <h5 class = 'col-md-3'>Email: </h5>
                             <a href="mailto:{{fam.user_id.user.email}}">{{fam.user_id.user.email}}</a>
                        
                     </div>
                    
                <p>{{fam.family.inspiration}}</p>

                
            </div>
            {% endfor %}

        </div>
        {% endif %}

    </div>
    
    {% include './cn/footer.html' %}
    
    <!-- JavaScript -->
     {% include './cn/tail.html' %}
    
</body>

</html>
