{% include './cn/head.html' %} 

<body>

    {% include './cn/header.html' %}

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Announcements
                    <small>All Announcements From The Church</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'sda:index' %}">Home</a>
                    </li>
                    <li class="active">Announcements</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-8">

                <!-- the actual blog post: title/author/date/content -->
                <hr>
                <p><i class="fa fa-clock-o"></i> Posted on To MMUSDA Members:
                </p>
                <hr>
                {% if ann %}
                    {% for announ in ann %}
                        <h3>{{announ.announcement_title}} <small class="pull-right">
                            <span class="label label-default">Date: {{announ.announcement_due_date.date}}</span>
                            <span class="label label-default">By:{{announ.announcement_due_date.time}}</span>
                        </small></h3>
                        <hr>
                        <p>{{ announ.announcement_description }}</p>
                        <hr>

                    {% endfor %}
                {% endif %}
                       
            </div>

            <div class="col-lg-4">
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <div class="well">
                    <h4>Other Important Announcements</h4>
                    <ul class="list-group">
                        {% if sub %}
                            {% for suba in sub %}
                                <li class="list-group-item">
                                    <h5 class = "h4">{{suba.announcement_title}}</h5>
                                    <p>{{ suba.announcement_description}}</p>
                                </li>
                            {% endfor %}
                        {% endif %}
                       
                    </ul>
                </div>
                <!-- /well -->
            </div>
        </div>

    </div>
    <!-- /.container -->
    {% include './cn/footer.html' %}
   
    <!-- JavaScript -->

    {% include './cn/tail.html'%}
   
</body>

</html>
