{% load crispy_forms_tags %}
{% include './cn/head.html' %} 

<body>

    {% include './cn/header.html' %}

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Announcements
                    <small>All Announcements From The Church</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'sda:index' %}">Home</a>
                    </li>
                    <li class="active">Announcements</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-8">

                <!-- the actual blog post: title/author/date/content -->
                <hr>
                <p><i class="fa fa-clock-o"></i> Posted on To MMUSDA Members:
                </p>
                <hr>
                {% if ann %}
                    {% for announ in ann %}
                        <h3>{{announ.announcement_title}} <small class="pull-right">
                            <span class="label label-default">Date: {{announ.announcement_due_date.date}}</span>
                            <span class="label label-default">By:{{announ.announcement_due_date.time}}</span>
                        </small></h3>
                        <hr>
                        <p>{{ announ.announcement_description  }}</p>
                        <hr>

                    {% endfor %}
                {% endif %}
                       
            </div>

            <div class="col-lg-4">
                <div class="well">
                   
                    <form role = 'form' action = /announcements/ method = 'POST'>
                        {% csrf_token %}
                        <h4>Search In Announcement</h4>
                        <div class="input-group">                            
                            {{form | crispy}}
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                    <!-- /input-group -->
                </div>
                {% if search %}

                <div class="well">
                    <h4>Other Important Announcements</h4>
                    <ul class="list-group">
                        
                            {% for suba in search %}
                                <li class="list-group-item">
                                    <h5 class = "h4">{{suba.announcement_title}}</h5>
                                    <p>{{ suba.announcement_description |truncatechars:256}}</p>
                                </li>
                            {% endfor %}
                        
                       
                    </ul>
                </div>

                {% else %}
                    <div class="well">
                        <h4>Announcements Search Results</h4>                        
                            <p class = "message message-danger">Your search Announcement was not found</p>
                    </div>
                {% endif %}
                <!-- /well -->
              
            </div>
        </div>

    </div>
    <!-- /.container -->
    {% include './cn/footer.html' %}
   
    <!-- JavaScript -->

    {% include './cn/tail.html'%}
   
</body>

</html>
