{% include './cn/head.html' %} 

<body>
{% load static %}

    {% include './cn/header.html' %}

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Church Affairs:
                    <small>Elmarld Benjamin</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'sda:index' %}">Home</a>
                    </li>
                    <li class="active">Department of: Church Affairs</li>
                </ol>
            </div>

        </div>

        <div class="row">
            <h2 class="page-header">&nbsp;Leadership</h2>
            <div class="col-md-6 portfolio-item">
                <div class="row">
                    <div class="col-sm-3">
                        <img class="media-object img-responsive pull-left" src="{% static 'sda/img/1.jpg' %}">
                    </div>
                    <div class="col-sm-9">
                        <div class="media-body">
                            <h4>Chair Person:</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                            <p><strong>Contact:0700123456</strong><br><strong>Email:youare@gmail.com</strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 portfolio-item">
                <div class="row">
                    <div class="col-sm-3">
                        <img class="media-object img-responsive pull-left" src="{% static 'sda/img/1.jpg' %}">
                    </div>
                    <div class="col-sm-9">
                        <div class="media-body">
                            <h4>Other Leader:</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                            <p><strong>Contact:0700123456</strong><br><strong>Email:youare@gmail.com</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6 portfolio-item">
                <h3>What We Do ...</h3> 
                <div class="list-group">
                    <span class="list-group-item">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora error, molestiae illum sapiente velit, enim neque quidem qui? Ex quam ducimus laborum, ipsa cumque qui tenetur, inventore laboriosam obcaecati pariatur.
                        </p>
                        <p>
                            Ipsum dolor sit amet, consectetur adipisicing elit. Unde expedita sunt, quasi a adipisci aspernatur reprehenderit, alias reiciendis nobis necessitatibus ea ratione autem. Eum necessitatibus, autem sint et voluptates animi. ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.
                        </p>

                    </span>
                </div>
            </div>
            <div class="col-md-6 portfolio-item">
                <h3>Our Team</h3>
                <ul class="list-group">
                    <li class="list-group-item">Lawrence Kamau</li>
                    <li class="list-group-item">Lawrence Kamau</li>
                    <li class="list-group-item">Lawrence Kamau</li>
                    <li class="list-group-item">Lawrence Kamau</li>
                    <li class="list-group-item">Lawrence Kamau</li>
                </ul>
            </div>
        </div>
        <hr>   
        <div class="row">
            <div class="col-lg-6">
                {% if ann %}
                <h2>Announcements</h2>
                <ul class="list-group">
                    {% for announce in ann %}
                    <li class="list-group-item">{{announce.announcement_title}}
                        <span class="label label-default pull-right">Date:  {{announce.announcement_due_date.date}}</span>
                    </li>
                    {% endfor %}
                   
                </ul>
                {% endif %}
            </div>
            <div class="col-lg-6">
                {% if event %}
                <h2>Activities</h2>
                <ul class="list-group">
                    {% for en in event %}
                    <li class="list-group-item">{{en.event_name}} 
                        <span class="label label-default pull-right">Start Date:  {{en.start_date.date}}</span>
                    </li>
                   {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-lg-12">
               <h2 class="page-header">Sub Departments</h2>
               <div class="panel-group" id="accordion">
                   {% if dept %}
                   {% for dpt in dept %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="accordion" data-parent="#accordion" href="#accordion">{{dpt.department_name}}</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <h2 class="page-header">&nbsp;Leadership</h2>
                                    {% if leaders %}
                                    {% for lead in leaders %}
                                    <div class="col-md-6 portfolio-item">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <img class="media-object img-responsive pull-left" src="{% static 'sda/img/1.jpg' %}">
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="media-body">
                                                    <h4>{{lead.dpt_role | Upper}}: {{lead.user_id}}</h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                                                    <p><strong>Contact:0700123456</strong><br><strong>Email:youare@gmail.com</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    {% endfor %}
                                    {% endif%}
                                   
                                </div><hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4>What We Do ...</h4>
                                        <p>{{dpt.department_role}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                 
                </div> 
            </div>
        </div>
        </div>

    </div>
 <!-- /.container -->
    {% include './cn/footer.html' %}
  
    <!-- JavaScript -->
    {% include './cn/tail.html' %}
</body>

</html>
