{% include './cn/head.html' %} 

<body>
{% load static %}
    {% include './cn/header.html' %}

    {% if item %}

    <div class="container">

        <div class="row">

          

            <div class="col-lg-12">
                <h1 class="page-header">{{ item.event_name}}
                    <small>{{item.due_date}}</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'sda:index' %}">Home</a>
                    </li>
                    <li class="active">{{item.event_name}}</li>
                </ol>
            </div>
          

        </div>

        <div class="row">

            
                <div class="col-md-8">
                    <img class="img-responsive" src="{{item.image_link.url}}" style="width: 700px">
                </div>

                <div class="col-md-4">
                    <h3>{{ item.event_name}}</h3>
                    {% if timeSpan %}:
                        <em><h5> On {{item.start_date.date}}</h5></em>
                    
                    {% else %}:
                         <em><h5>From {{item.start_date.date}} To {{item.due_date.date}}</h5></em>
                    {% endif %}
                    <p>{{item.description}}</p>

                    <!-- The details plane/area-->
                    <h3>Event Details</h3>
                    <table class = "table table-striped">
                        {% for itm in details %}
                        <tr>
                           <td><b>{{itm.sub_title}}</b></td>
                           <td><b>:</b></td>
                           <td>{{itm.detail}}</td> 
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            
            
        </div>

        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Other Events</h3>
            </div>

            {% if otheritem %}
                {% for other in otheritem %}
                    
                        <div class="col-sm-3 col-xs-6">
                            <a href="{% url 'sda:item' other.id %}">
                                <img class="img-responsive img-customer img-other" src="{{other.image_link.url}}">
                            </a>
                        </div>
                    
                {% endfor %}
            {% endif %}
        </div>

    </div>

    {% endif %}
    <!-- /.container -->
    {% include './cn/footer.html' %}
   
    {% include './cn/tail.html' %}
    <!-- JavaScript -->
  

</body>

</html>
