{% include './cn/head.html' %} 

<body>
{% load static %}
    {% include './cn/header.html' %}


    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Preachings and Teachings
                    <small>Study Place</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'sda:index' %}">Home</a>
                    </li>
                    <li class="active">Preachings & Teachings</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-8">
                {% if sermon %}
                {% for speach in sermon %}
                    <small class="label label-default">Title</small>
                    <h3>
                        {{speach.sermon_title}}
                    </h3>
                    <small>By {{speach.sermon_speaker}}</small>
                    </p>
                    <hr>
                    <p><i class="fa fa-clock-o"></i> Posted on {{speach.publication_date}}</p>
                    <hr>
                    <div class="embed-responsive">
                        <iframe width="750" height="315" src="{{speach.sermon_link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <hr>
                    <p style = "width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis">{{speach.sermon_info}}</p>
                    <a class="btn btn-primary" href="{% url 'sda:sermon' speach.id %}">Read More <i class="fa fa-angle-right"></i></a>

                    <hr>
                {% endfor %}
                {% endif %}
               
                <ul class="pager">
                    <li class="previous"><a href="#">&larr; Older</a>
                    </li>
                    <li class="next"><a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <div class="col-lg-4">
                <div class="well">
                    <h4>Search Item</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>Popular Videos</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Others </h5>
                            {% if itemother %}
                                <ul class="list-group">
                                    {% for itm in itemother %}
                                        <li class="list-group-item"><a href="{% url 'sda:sermon' itm.id %}">{{itm.sermon_title}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="col-md-12">
                            {% if sermon %}
                                <ul class="list-group">
                                    {% for itm in sermon %}
                                        <li class="list-group-item"><a href="{% url 'sda:sermon' itm.id %}">{{itm.sermon_title}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>Inline Events</h4>
                    <div class = "row">
                        <div class="col-md-12">
                            {% if event %}
                                <ul class="list-group">
                                    {% for itm in event %}
                                        <li class="list-group-item"><a href="{% url 'sda:item' itm.id %}">{{itm.event_name}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- /well -->
            </div>
        </div>

    </div>
    <!-- /.container -->
    {% include './cn/footer.html' %}
   
    {% include './cn/tail.html' %}
    <!-- JavaScript -->
    
</body>

</html>
