<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="MMUSDA IT Team">
    
    <title>MMU Seventh Day Adventist</title>

     <!-- Add custom CSS here -->
     <link href="{% static 'sda/css/mmusda.css' %}" rel="stylesheet" >
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Import Google Icon Font-->
    
    <!--Import materialize.css-->
    <!--<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    -->
    <link href="{% static 'sda/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'sda/css/bootstraps.css' %}" rel="stylesheet">
    
    <link href="{% static 'sda/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link  rel = "Shortcut Icon" href =  " {% static 'sda/img/adventist-Logo.png' %}">

</head>
