<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="MMUSDA IT Team">
    
    <title>MMU Seventh Day Adventist</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'sda/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{% static 'sda/css/mmusda.css' %}" rel="stylesheet" >
    <link href="{% static 'sda/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link  rel = "Shortcut Icon" href =  " {% static 'sda/img/adventist-Logo.png' %}">

</head>
